{% extends 'ex01/base.html' %} {% block title %}
<title>Ex01: Django, framework web.</title>
{% endblock title %} {% block content %}
<div role="main" class="content">
    <h1>Meet Django</h1>
     <p>
        Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design.
        Built by experienced developers, it takes care of much of the hassle of web development,
        so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
     </p>

      <ul>
        <li>
                <h1>Ridiculously fast.</h1>
            Django was designed to help developers take applications from concept to completion as quickly as possible.
        </li>
        <li>
             <h1>Reassuringly secure.</h1>
          Django takes security seriously and helps developers avoid many common security mistakes.
        </li>
        <li>
             <h1>Exceedingly scalable.</h1>
        Some of the busiest sites on the web leverage Django’s ability to quickly and flexibly scale.    </li>
      </ul>
    <h1>История Django</h1>
     <p>
        Django органично росла во время разработки реальных приложений, созданных командой разработки в Лоуренсе, штат Канзас, США. Она родилась в конце 2003 когда программисты газеты «Lawrence Journal-World», Эдриан Холовати (Adrian Holovaty) и Симон Виллисон (Simon Willison), начали использовать язык Python для разработки своих приложений. Команда World Online, ответственная за разработку и поддержку нескольких локальных новостных сайтов, процветала в среде разработчиков, диктуемой срочностью работы журналиста. Для сайтов, включая LJWorld.com, Lawrence.com и KUsports.com, журналисты и менеджеры требовали, чтобы новые возможности и целые приложения были разработаны максимально быстро, часто счёт шёл на дни или на часы. Таким образом, Симон и Эдриан создали среду разработки экономящую время, исходя из своих потребностей — это был единственный способ, с помощью которого они могли создавать управляемые приложения в жёстких рамках сроков.
     </p>
</div>
{% endblock %}