{% load static %}
<div style="width: 100%">
  <span
    style="
      width: 100%;
      max-width: 350px;
      display: in-line;
      justify-content: space-between;
      margin-left: 10%;
      margin-right: 0;
    "
  >
    <div>
      <a href="/ex01/django" style="font-size: 30px; background-color:palegreen">django</a>
      <a href="/ex01/display" style="font-size: 30px; background-color:yellow">display</a>
      <a href="/ex01/templates" style="font-size: 30px; background-color:pink">template</a>
    </div>
  </span>
</div>